html, body {    width: 100%;    height: 100%;}
body {	background-color:#f1f4f5;    padding: 0;}
#logo, #loginbox {    width: 50%;    margin-left: auto;    margin-right: auto;    position: relative;}
#logo img {  margin: 0 auto;    display: block;}
#loginbox { overflow: hidden !important;    text-align: left;    position: relative; }
#loginbox form{	width:100%; background:#fff;	position:relative;	top:0;	left:0; }
#loginbox .form-actions {	padding: 14px 20px 15px;}
#loginbox .form-actions .pull-left { margin-top:0px;}
#loginbox form#loginform {	z-index: 200; display:block;}
#loginbox form#recoverform {	z-index: 100;	    display:none;}
#loginbox form#recoverform .form-actions {    margin-top: 10px;}
#loginbox .main_input_box { margin:0 auto; text-align:center}
#loginbox .main_input_box .add-on{  background-color: #EEEEEE;    border: 1px solid #dadada;    display: inline-block;    font-size: 14px;    font-weight: normal;    height:30px;    line-height: 30px;    min-width: 16px;    padding: 4px 5px;     text-align: center;    text-shadow: 0 1px 0 #FFFFFF;    width:30px;}
#loginbox .main_input_box input{ height:30px; display:inline-block; width:75%;  border: 1px solid #dadada; margin-bottom:3px;}
#loginbox .controls{ padding:0 20px;}
#loginbox .control-group{ padding:20px 0; border-bottom:1px solid #f6f6f6; margin-bottom:0px;}
.form-vertical, .form-actions {    margin-bottom: 0;}
#loginbox .normal_text{ padding:15px 10px; text-align:center; font-size:14px; line-height:20px; background:#49CCED; color:#fff; }
@media (max-width: 480px){
#logo { width: 40%; }
#loginbox{ width:90%}
#loginbox .control-group{ padding:8px 0; border-bottom:1px solid #dadada; margin-bottom:0px;}
}
.Login{
	float: left;
	text-align: center;
	margin-top: 45px;
}
.Login h2, p{
	color: #bfc5c5;
}

.horizontal-divider {
    margin: 0 auto;
    position: relative;
    width: 1px;
    height: 250px;
    background-color: #ccc;
}
.divider{
	float: left;

}
.login-fields .form-group{
	width: 60%;
}

.login-fields h2{
	font-size: 24px;
    color: #478fc2;
}
.login-fields .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #4993c329;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.login-fields .col-sm-10{
	padding: 0;
}
.login-container{
	width: 60%;
    margin: 0 auto;
    margin-top: 10%;
}
.x-header h1{
	margin-top: 0px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}
.lgn-btn{
	background-color: #0795c4;
    border-color: #ccc;
    color: #fff;
    width: 50%;
}
.lgn-btn:hover {
    color: #468ec0;
    background-color: #fff;
    border-color: #468ec0;
}
.login-container2{
	display: none;
	margin-top: 10%;
}
.x-warning{
    background-image: none;
    border: 1px solid #f3c039 !important;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background: #ffff;
    display: none;
}
.emailnot{
        font-size: 45px;
        text-align: center;
}
.emailnotspan{
    text-align: center;
}
.lgn-btn2{
    background-color: #0795c4;
    border-color: #ccc;
    color: #fff;
    width: 25%;

}
.lgn-btn2:hover {
    color: #468ec0;
    background-color: #fff;
    border-color: #468ec0;
}
.message-dynamic{
    padding: 1rem 0 2.5rem;
    transition: opacity .5s ease-out;
    text-align: center;
}
.title{
    font: 500 5.125rem/3.75rem National2,Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -.0625rem;
    margin: 0 0 1rem -.25rem;
    padding: 0;
}
.email-dynamic{
    font: 400 2rem/-0.5rem National2,Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0;
    margin: 0 0 2rem;
    padding: 0;
}
.svg-icon{
    WIDTH: 100%;
    height: 100px;
    fill: #13B5EA;
}
 #signup {
    padding: 40px 0;
}
#signup {
    padding: 50px 0;
    width: 500px;
    margin: 0 auto;
}
#signup .x-boxed {
    border: 1px solid #D0DAE2;
    background: #FFF;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.03);
    border-radius: 3px;
    padding: 40px 30px 30px 30px;
}
#signup .left {
    margin: 0 auto;
    float: none;
}
#signup .left {
    width: 307px;
    float: left;
    margin-right: 15px;
    padding-top: 10px;
}
.x-boxed {
    background: url(/content/local/img/box-bg-4cb0dc1b.png) repeat-x 0 bottom;
    border: 1px solid #e8ebee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #e8ebee 0 1px 2px;
    -webkit-box-shadow: #e8ebee 0 1px 2px;
    box-shadow: #e8ebee 0 1px 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin: 10px auto 30px;
    padding: 20px;
    width: 280px;
}
 #signup h2 {
    padding-bottom: 30px;
    margin-bottom: 0;
}
#signup h2 {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 25px;
}
.password-help-text {
    text-align: center;
    color: #98A9B9;
    margin: 0;
    padding: 0 0 30px 0;
}
 #signup input[type=password]:hover, .responsive-layout #signup input[type=text]:hover {
    border-color: #AAB9C8;
}
 #signupinput[type=password], .responsive-layout input[type=text] {
    padding: 10px 0 9px 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
}

.create-password{
    width: 50%;
    height: 300px;
    background: #ffff;
    margin: 0 auto;
    border: 1px solid #D0DAE2;
    background: #FFF;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.03);
    border-radius: 3px;
    padding: 40px 30px 30px 30px;
}
.mobile-heading{
    text-align: center;
    font-size: 16pt;
}
.password-help-text {
    color: rgb(152, 169, 185);
    width: 70%;
    text-align: center !important;
    margin: 0 auto;
}
.create-password .form-control {
    display: block;
    width: 70%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* text-align: center; */
    margin: 0 auto;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
}
.lgn-btn3{
    background-color: #0795c4;
    border-color: #ccc;
    color: #fff;
    width: 70%;

}
.lgn-btn3:hover {
    color: #468ec0;
    background-color: #fff;
    border-color: #468ec0;
}
.x-header2{
    color: #1b1919;
    display: block;
    background-color: #ffff;
   height: 60px;
    box-shadow: 0 1px 10px 0 rgba(50,70,90,.2);
}
.x-header2 h1{
    margin-top: 0px !important;
    line-height: 2;
    text-align: center;
    font-size: 22pt;
}
